.iphone {
  background: url(/images/shared/iphone.png) no-repeat;
  width: 243px;
  height: 476px;
  position: relative;
  z-index: 100;
}

.iphone .screen_mask {
  width: 205px;
  height: 308px;
  position: relative;
  left: 20px;
  top: 85px;
  overflow: hidden;
}

.iphone .view_container {
  display: block;
  overflow: hidden;
}

.iphone .view_container img {
  display: block;
  float: left;
}

.iphone .reflection {
  width: 205px;
  height: 308px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(/images/shared/iphone_reflection.png) no-repeat;
  z-index: 100;
}